<ul>
  <li><span class="right">{{version}}</span><label class="left">Version</label></li>
  <li><span class="right">{{user.name}}</span><label class="left">User</label></li>
  <li><a href="{{repository}}" class="share"><span></span>Repository <span class="light">{{{format-url repository}}}</span></a></li>
</ul>

<div class="content">
  If you like the open source Auphonic Mobile App, please consider to donate
  to support the future development of Auphonic.
</div>

<ul>
  <li><a href="{{donate}}" class="share"><span></span>Auphonic Donations</a></li>
  <li><a href="{{flattr}}" class="share"><span></span>Donate with Flattr</a></li>
</ul>
