<ul>
  <li><span class="right">{{version}}</span><label class="left">Version</label></li>
  {{#authenticated}}
    <li><span class="right">{{user.name}}</span><label class="left">User</label></li>
  {{/authenticated}}
  <li><a href="{{repository}}" class="share"><span></span>Source Code <span class="light">{{{format-url repository}}}</span></a></li>
</ul>

<p class="null">
  If you like the open source Auphonic Mobile App, please consider to donate
  to support the future development of Auphonic.
</p>

<ul>
  <li><a href="{{donate}}" class="share"><span></span>Auphonic Donations</a></li>
  <li><a href="{{flattr}}" class="share"><span></span>Donate with Flattr</a></li>
</ul>
