<div class="detailView">
  <div class="detail expand{{#if thumbnail}} with-image{{/if}}">
    {{#if thumbnail}}
      <div class="dark-background"></div>
      <div class="cover-photo" style="background-image: url({{{image thumbnail}}});"></div>
      <div class="cover-photo" style="background-image: url({{{image image}}});"></div>
      <div class="gradient"></div>
    {{else}}
      <div class="light-background"></div>
    {{/if}}
    <div class="detail-inner">
      {{#metadata}}
        {{#if hasDescription}}<h1>{{#if title}}{{title}}{{else}}Untitled{{/if}}</h1>{{/if}}
        {{#if year}}<span class="year">{{year}}</span>{{/if}}
        {{#if genre}}<span class="genre">{{genre}}</span>{{/if}}
        {{#unless hasDescription}}<h1>{{#if title}}{{title}}{{else}}Untitled{{/if}}</h1>{{/unless}}

        {{#if album}}<span class="album">{{album}}</span>{{/if}}
        {{#if track}}<span class="track">#{{track}}</span>{{/if}}
        {{#if artist}}<span class="artist small">{{artist}}</span>{{/if}}
      {{/metadata}}
    </div>
    <div class="clear"></div>
  </div>

  {{#if is_uploading}}
    <div class="content uploading">
      <span></span>
      <div class="progress-bar hidden"><div></div></div>
    </div>
  {{/if}}
  <a href="" class="clear button expand hidden red retry-upload-button">Retry Upload</a>

  {{#if metadata.location.longitude}}
    <h1>Location</h1>
    <ul>
      <li>
        <label class="location-detail-popover show-popover info">
          <span></span>
          <span class="location-detail" data-latitude="{{metadata.location.latitude}}" data-longitude="{{metadata.location.longitude}}"></span>
          <div class="hidden popover top justify" data-position="top" data-highlight-text="1">
            <h1></h1>
          </div>
        </label>
      </li>
    </ul>
  {{/if}}

  {{#if metadata.subtitle}}
    <h1>Project</h1>
    <div class="content">
      {{metadata.subtitle}}
    </div>
  {{/if}}

  {{#if metadata.summary}}
    <h1>Device Info</h1>
    <div class="content">
      {{metadata.summary}}
    </div>
  {{/if}}

  <br>
  <a href="/" class="clear button expand hidden go-home-button">Home</a>

</div>
