<ul class="formcontent input-file-container">
  {{> form-main-input-file}}

  {{#if isNewProduction}}
    {{#if presets}}
      <li>
        <label class="left">
          <select class="preset-chooser right empty" data-select-type="preserve-null-state">
            <option value="" selected>No Preset</option>
            {{#each presets}}
              <option value="{{uuid}}">{{preset_name}}</option>
            {{/each}}
          </select>
          <span class="right placeholder">choose a preset</span>
          Preset
        </label>
      </li>
    {{/if}}
  {{/if}}

  {{#if preset}}
    <li>
      <label class="left">
        <input type="text" class="preset_name right" name="preset_name" data-clearable="1" value="{{name}}" placeholder="type a preset name" />
        Name
      </label>
    </li>
  {{/if}}

  <li><a href="{{baseURL}}new/metadata" class="arrow"><span></span>Metadata</a></li>
  <li><a href="{{baseURL}}new/multi_input_files" class="arrow"><span></span>Intro / Outro <small class="multiInputFilesCount light"></small></a></li>
  <li><a href="{{baseURL}}new/outgoing_services" class="arrow"><span></span>Outgoing Transfers <small class="servicesCount light"></small></a></li>
</ul>

{{#if production}}
  <a class="clear button red expand saveButton">Save and start Production</a>
{{/if}}

<h1>Algorithms</h1>
<ul class="formcontent">
  {{#each algorithm}}
    <li class="wide{{#if belongs_to}} transition-able{{/if}}"{{#if belongs_to}} data-belongs-to="algorithms.{{belongs_to}}"{{/if}}>
      {{#if checkbox}}
        <div class="right">
          <div class="checkbox">
            <div>
              <span class="left"></span><span class="thumb" data-on="ON" data-off="OFF"></span>
              <input type="checkbox" name="algorithms.{{key}}" value="1"{{#if default_value}} checked="checked"{{/if}} />
            </div>
          </div>
        </div>
        <label class="left info">
          {{display_name}}
          <div class="hidden popover top justify" data-position="top">
            <h1>{{display_name}}</h1>
            {{description}}
          </div>
        </label>
      {{/if}}
      {{#if select}}
        <select name="algorithms.{{key}}" class="right">
          {{#each options}}
            <option value="{{value}}"{{#if selected}}selected="selected"{{/if}}>{{short_display_name}}</option>
          {{/each}}
        </select>
        <label class="left info">
          {{short_display_name}}
          {{> algorithm-popover}}
        </label>
      {{/if}}
    </li>
  {{/each}}
</ul>

<h1>Output Files {{#if production}}<small class="output_files_required">(one is required)</small>{{/if}}</h1>
<ul class="output_files">
  <li>
    <label class="left">
      <input type="text" name="output_basename" value="{{#if output_basename}}{{output_basename}}{{else}}{{input_file_basename}}{{/if}}" data-clearable="1" placeholder="without extension" class="right" />
      Filename
    </label>
  </li>
  <li><a href="{{baseURL}}new/output_file" class="plus"><span></span>Add Output Format</a></li>
</ul>

{{#if production}}
<h1>Chapter Marks</h1>
<ul class="chapter_marks">
  <li><a href="{{baseURL}}new/chapter" class="plus"><span></span>Add Chapter Mark</a></li>
</ul>
{{/if}}
