<div class="player content clear">
  <div class="play-button content full">
    <a class="play">
      <span class="hidden" data-media="1">{{media_files}}</span>
      <span class="hidden" data-chapters="1">{{player_chapters}}</span>
      <span class="hidden" data-duration="1">{{duration}}</span>
      {{#if isLocal}}<span class="hidden" data-local="1" />{{/if}}
    </a>
  </div>
  <div class="waveform content full show-popover" data-popover-open-event="touchstart" data-popover-open-delay="300" data-popover-close-event="touchend">
    {{#if waveform_image}}
      <img src="{{{image waveform_image}}}" />
    {{else}}
      <div class="line"></div>
    {{/if}}
    <div class="position"></div>
      <div class="hidden popover top center auto-width" data-position="top"></div>
  </div>

  <div class="player-details">
    <div class="duration light">{{duration_string}}</div>
    <div class="current-time light"></div>
    <div class="chapter-mark bold"></div>
  </div>
</div>
