<li class="swipeable show-popover" data-popover-open-event="touchhold" data-api-url="preset/{{uuid}}" data-method="delete" data-id="{{uuid}}" data-fire-event="remove">
  <span class="right removable expanded hidden">
    <span><a class="button red small">Delete</a></span>
  </span>
  <div class="hidden popover top justify" data-position="top">
    <a href="/preset/edit/{{uuid}}" class="button expand">Edit</a>
    <a class="button expand red deleteable">Delete</a>
  </div>
  <a href="/preset/{{uuid}}" class="arrow expanded">
    <span></span>
    <img src="{{{image thumbnail}}}" class="small-logo list-thumbnail" />
    <span class="wrap">
      {{preset_name}}
    </span>
    {{#if short_info}}
      <span class="light small info-left">
        {{short_info}}
      </span>
    {{/if}}
  </a>
</li>
