<li class="swipeable show-popover" data-popover-event="touchhold" data-api-url="preset/{{uuid}}" data-method="delete">
  <span class="right removable{{#if short_info}} expanded{{/if}}">
    <span><a href="#" class="button red small">Delete</a></span>
  </span>
  <div class="hidden popover top justify" data-position="top">
    <a href="/preset/edit/{{uuid}}" class="button expand">Edit</a>
    <a href="#" class="button expand red deleteable">Delete</a>
  </div>
  <a href="/preset/{{uuid}}" class="arrow {{#if short_info}} expanded{{/if}}">
    <span></span>
    <img src="{{{image thumbnail}}}" class="small-logo list-thumbnail" />
    {{preset_name}}
    {{#if short_info}}
      <br />
      <span class="light small bold info-left">
        {{short_info}}
      </span>
    {{/if}}
  </a>
</li>
