<li class="swipeable show-popover" data-popover-open-event="touchhold" data-api-url="production/{{uuid}}" data-method="delete" data-id="{{uuid}}" data-fire-event="remove">
  <span class="right removable expanded hidden">
    <span><a class="button red small">Delete</a></span>
  </span>
  <div class="hidden popover top justify" data-position="top">
    <a href="/production/edit/{{uuid}}" class="button expand">Edit</a>
    <a class="button expand red deleteable">Delete</a>
  </div>
  <a href="/production/{{uuid}}" class="arrow expanded">
    <span></span>
    <img src="{{{image thumbnail}}}" class="small-logo list-thumbnail" />
    {{#if metadata.title}}
      {{metadata.title}}
    {{else}}
      Untitled
    {{/if}}
    <br />
    <span class="small bold info-left">
      {{short_status_string}} <span class="light">{{short_info}}</span>
    </span>
  </a>
</li>
