<ul>
  <li>
    <span class="right light bold">{{display_size}}</span>
    <label class="left">Size</label>
  </li>
  <li>
    <span class="right light bold">{{display_date}}</span>
    <label class="left">Date</label>
  </li>
</ul>

{{> player}}

{{#if hasChapters}}
  <h1>Chapter Marks</h1>
  <ul>
    {{#each chapters}}
      <li>
        <label>
          <small class="light">{{start}}</small> {{title}}
        </label>
      </li>
    {{/each}}
  </ul>
{{/if}}

{{#if hasProductions}}
  <h1>Associated Productions</h1>
  <ul>
    {{#each display_productions}}
      <li>
        <a href="/production/{{uuid}}" class="arrow">
          <span></span>
          {{#if title}}
            {{title}}
          {{else}}
            Untitled
          {{/if}}
        </a>
      </li>
    {{/each}}
  </ul>
{{/if}}
