<ul>
  <li><a href="/editor/{{id}}" class="arrow"><span></span>Crash Everything</a></li>
</ul>
<ul class="formcontent">
  <li>
    <label class="left"><input type="text" name="display_name" value="{{display_name}}" class="right" data-clearable="1" />Name</label>
  </li>
  <li>
    <span class="right light bold">{{display_size}}</span>
    <label class="left">Size</label>
  </li>
  <li>
    <span class="right light bold">{{display_date}}</span>
    <label class="left">Date</label>
  </li>
</ul>

{{#if isAudio}}
  {{> player}}
{{else}}
  <h1>Video</h1>
  <video controls>
    <source src="{{fullPath}}" />
  </video>
{{/if}}

<h1>Chapter Marks</h1>
<ul class="chapter_marks">
  <li><a href="/recording/new/chapter" class="plus"><span></span>Add Chapter Mark</a></li>
</ul>

{{#if hasProductions}}
  <h1>Associated Productions</h1>
  <ul>
    {{#each display_productions}}
      <li>
        <a href="/production/{{uuid}}" class="arrow">
          <span></span>
          {{#if title}}
            {{title}}
          {{else}}
            Untitled
          {{/if}}
        </a>
      </li>
    {{/each}}
  </ul>
{{/if}}
