<div class="detailView">
  <div class="detail expand with-image">
    <div class="dark-background"></div>
    <div class="cover-photo team" style="background-image: url({{image}});"></div>
    <div class="gradient"></div>
    <div class="detail-inner">
      <span class="year">2012</span>
      <span class="genre">Graz</span>
      <h1>Auphonic Team</h1>
      <span class="artist small wrap">
        André Rattinger, Ferdinand Fuhrmann, Christoph Pojer, Georg Holzmann and Florian Hollerweger
      </span>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>

<div class="content">
  We develop new algorithms in the area of music information retrieval and audio signal processing to create an automatic audio post production web service for broadcasters, podcasts, radio shows, audio books, lecture recordings, screencasts and more.
  <br> <br>
  For further details please visit
  <a href="https://auphonic.com">auphonic.com</a>
  and follow the links below!
</div>

<ul>
  <li><a href="{{video}}" class="share"><span></span>Auphonic Introduction Video</a></li>
  <li><a href="{{examples}}" class="share"><span></span>Auphonic Audio Examples</a></li>
  <li><a href="{{twitter}}" class="share"><span></span>Auphonic on Twitter</a></li>
  <li><a href="{{facebook}}" class="share"><span></span>Auphonic on Facebook</a></li>
  <li><a href="{{flattr}}" class="share"><span></span>Donate with Flattr</a></li>
</ul>

<div class="content">
  Our service is being developed in the lovely City of Graz, Austria.
</div>