<li class="swipeable show-popover" data-popover-open-event="touchhold">
  <span class="right removable">
    <span><a class="button red small">{{label}}</a></span>
  </span>
  <div class="hidden popover top justify" data-position="top">
    <a class="button expand red deleteable">{{label}}</a>
  </div>
  <a href="{{href}}" class="arrow"><span></span>{{title}}{{#if detail}} <small class="light">{{detail}}</small>{{/if}}</a>
</li>
